app/.env

.idea/
data/postgres-data/
data/rabbitmq-data/
data
cd


*.py[codz]


*.pyc
*.sqlite3
*.log
*.db


.venv/
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.DS_Store
.idea/
.vscode/

/ml-service-final.git/

.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.pytest_cache/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.eggs/
build/
dist/

# Tests / tools
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Envs / IDE
.venv/
.env
.env.*
.ipynb_checkpoints/
.vscode/
.idea/



