app/.env

.idea/
data/postgres-data/
data/rabbitmq-data/
data
cd


*.py[codz]


*.pyc
*.sqlite3
*.log
*.db


.venv/
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.DS_Store
.idea/
.vscode/



.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
/tests/

